Microsoft.Flow/flows/7fc12b99-8964-499c-90bf-1e044b06f065/definition.json
{"name":"dae83b67-10ee-c3ab-1d43-482f699cb2d3","id":"/providers/Microsoft.Flow/flows/dae83b67-10ee-c3ab-1d43-482f699cb2d3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SpendTrak_Export_to_Excel_SandBox","definition":{"metadata":{"workflowEntityId":"c2999ad7-169d-ee11-be37-000d3aaf5ba7","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"39bb576c-7a9f-47a0-9a24-465775b4a42e","type":"User","tenantId":"ca6a4b3f-9123-49bc-bcb9-27085ebbf1a1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-12-17T21:35:55.7624968Z","connectionKeySavedTimeKey":"2023-12-17T21:35:55.7624968Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"46602c03-2d81-484c-a9f5-fda1f4b9e38d"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Query","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"a13fe1a1-1d46-4a40-8db8-57d84db47290"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox","table":"229c86b2-ecbc-4bb7-9d8b-4a9984c06b75","$filter":"@triggerBody()['text']","$top":5000},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Create_CSV_table":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"1768bacf-1ce0-4814-86ae-e5cf79b34837"},"type":"Table","inputs":{"from":"@outputs('Get_items')?['body/value']","format":"CSV","columns":[{"header":"Title","value":"@item()?['Title']"},{"header":"ExpenseGroup","value":"@item()?['ExpenseGroup/Value']"},{"header":"ExpenseType","value":"@item()?['ExpenseType/Value']"},{"header":"ExpenseOwner","value":"@item()?['ExpenseOwner/Value']"},{"header":"Amount","value":"@item()?['Amount']"},{"header":"DateIncurred","value":"@item()?['DateIncurred']"},{"header":"ExpectedExpenseDate","value":"@item()?['ExpectedExpenseDate']"},{"header":"RetirementComment","value":"@item()?['RetirementComment']"},{"header":"AmountDisbursed","value":"@item()?['AmountDisbursed']"},{"header":"Currency","value":"@item()?['Currency/Value']"},{"header":"Action","value":"@item()?['Action/Value']"},{"header":"Status","value":"@item()?['Status/Value']"},{"header":"StatusDescription","value":"@item()?['StatusDescription']"},{"header":"RefNo","value":"@item()?['RefNo']"},{"header":"LineManagerActionDate","value":"@item()?['LineManagerActionDate']"},{"header":"LineManagerComment","value":"@item()?['LineManagerComment']"},{"header":"FinanceComment","value":"@item()?['FinanceComment']"},{"header":"FinanceActionDate","value":"@item()?['FinanceActionDate']"},{"header":"Department","value":"@item()?['Department/Value']"},{"header":"Project","value":"@item()?['Project/Value']"},{"header":"FinanceAdminName","value":"@item()?['FinanceAdminName/DisplayName']"},{"header":"FinanceAdminActionDate","value":"@item()?['FinanceAdminActionDate']"},{"header":"FinanceAdminComment","value":"@item()?['FinanceAdminComment']"},{"header":"FinanceName","value":"@item()?['FinanceName/DisplayName']"},{"header":"FinanceAdminNameTwo","value":"@item()?['FinanceAdminName/DisplayName']"},{"header":"FinanceAdminActionDateTwo","value":"@item()?['OData__x0032_ndFinanceAdminActionDate']"},{"header":"FinanceAdminCommentTwo","value":"@item()?['OData__x0032_ndFinanceAdminComment']"},{"header":"RequestorDate","value":"@item()?['RequestorDate']"},{"header":"RequestedBy","value":"@item()?['RequestedBy/DisplayName']"}]}},"Create_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"f741c10d-968d-41b4-9a6b-f1baf5122533"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/SpendTrackExportToExcel","name":"SpendTrakData.csv","body":"@body('Create_CSV_table')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_share_link":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"2fe3b695-c129-4e32-a71d-39b18f3cbc9f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkV2"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","type":"Edit","scope":"Organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Create_share_link":["Succeeded"]},"metadata":{"operationMetadataId":"0fe1e67f-6157-4cb3-b745-1c2e82b03a23"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"filelink":"@outputs('Create_share_link')?['body/WebUrl']"},"schema":{"type":"object","properties":{"filelink":{"title":"FileLink","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"28966422d8b7452da989dfb131f81dca","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"2119ec9b223943b8bebc12149cb95034","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}